body {
    margin: 0;
    padding: 0;
    background: black;
}

p {
    font-size: 12px; 
    line-height: 8px;
    text-align: justify;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuCQ7LSLQOY-rflcZlGqGMBbdKj3GeW7rCSg&s.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(225, 225, 225, 0); /* Correct transparency value */
}
